# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
.env
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.bak
docker-compose.override.yml
